<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Water Heater">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <div ng-repeat="led in leds">
        <div class="led" style="background-color: #{{ led.color }};"></div>
      </div>
      <div class="relay-button {{ relay.state }}" ng-click="toggleRelay()"></div>
    </div>

    <script>
      var app = angular.module('myApp', [ 'ngResource' ]);
      app.controller('myCtrl', [ '$scope', '$resource', function($scope, $resource) {
        /* Relay Control */
        var Relay = $resource('/relay', null,
          {
            'update': { method: 'PUT' },
          });

        /* LEDs */
        var LEDs = $resource('/leds', null,
          {
            'get': { method: 'GET', isArray: true },
          });

        /* Poller */
        (function tick() {
          Relay.get(function(relay) { $scope.relay = relay; });
          LEDs.get(function(leds) { $scope.leds = leds; });
          setTimeout(tick, 2000);
        })();

        $scope.toggleRelay = function () {
          $scope.relay.state = $scope.relay.state == 'on' ? 'off' : 'on';
          $scope.relay.$update();
        }
      }]);
    </script>
  </body>
</html>
